# Part 1

In [120]:
import os
import sqlite3
import pandas as pd

In [121]:
conn = sqlite3.connect(r'C:\Users\anika\Desktop\AnikaDS\Unit_3_Lambda\DS-Unit-3-Sprint-2-SQL-and-Databases\module1-introduction-to-sql\rpg_db.sqlite3')

In [122]:
cursor = conn.cursor()

In [131]:
q1 = 'SELECT COUNT(*) FROM charactercreator_character'
q2a = 'SELECT COUNT(*) FROM charactercreator_cleric'
q2b = 'SELECT COUNT(*) FROM charactercreator_fighter'
q2c = 'SELECT COUNT(*) FROM charactercreator_mage'
q2d = 'SELECT COUNT(*) FROM charactercreator_necromancer'
q2e = 'SELECT COUNT(*) FROM charactercreator_thief'
q3a = 'SELECT COUNT(*) FROM charactercreator_character_inventory'
q3b = 'SELECT COUNT(*) FROM charactercreator_character_inventory, armory_weapon WHERE charactercreator_character_inventory.item_id = armory_weapon.item_ptr_id'
# q3c = did math
q4 = 'SELECT COUNT(*) FROM charactercreator_character_inventory GROUP BY character_id LIMIT 20'
q5 = 'SELECT COUNT(*) FROM charactercreator_character_inventory, armory_weapon WHERE charactercreator_character_inventory.item_id = armory_weapon.item_ptr_id GROUP BY charactercreator_character_inventory.character_id LIMIT 20'
# q6 = did math
# q7 = did math

In [132]:
#How many total Characters?
cursor.execute(q1).fetchall()

[(302,)]

In [133]:
#How many of each subclass? - Cleric
cursor.execute(q2a).fetchall()

[(75,)]

In [134]:
#How many of each subclass? - Fighter
cursor.execute(q2b).fetchall()

[(68,)]

In [135]:
#How many of each subclass? - Mage
cursor.execute(q2c).fetchall()

[(108,)]

In [136]:
#How many of each subclass? - Necromancer
cursor.execute(q2d).fetchall()

[(11,)]

In [137]:
#How many of each subclass? - Thief
cursor.execute(q2e).fetchall()

[(51,)]

In [138]:
#How many total items?
cursor.execute(q3a).fetchall()

[(898,)]

In [139]:
#How many items are weapons?
cursor.execute(q3b).fetchall()

[(203,)]

In [140]:
#How many items are not weapons?
898-203

695

In [105]:
#How many items does each character have (first 20 rows)?
cursor.execute(q4).fetchall()

[(3,),
 (3,),
 (2,),
 (4,),
 (4,),
 (1,),
 (5,),
 (3,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (1,),
 (5,),
 (5,),
 (3,),
 (1,)]

In [106]:
#How many Weapons does each character have? (Return first 20 rows)
cursor.execute(q5).fetchall()

[(2,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (3,),
 (2,),
 (1,),
 (1,),
 (1,),
 (2,),
 (3,),
 (2,),
 (2,),
 (2,),
 (1,),
 (1,),
 (1,)]

In [102]:
#On average, how many Items does each Character have?
898 / 302

2.9735099337748343

In [103]:
#On average, how many Weapons does each character have?
203 / 302

0.6721854304635762

# Part 2

In [155]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00476/buddymove_holidayiq.csv')
df.shape

(249, 7)

In [148]:
df.to_sql('review', conn)

In [152]:
q2_1 = 'SELECT COUNT(*) FROM review'
q2_2 = 'SELECT COUNT(*) FROM review WHERE Nature >= 100 AND Shopping >= 100'

In [153]:
#How many rows are there?
cursor.execute(q2_1).fetchall()

[(249,)]

In [154]:
#How many users who reviewed at least 100 `Nature` in the category
#also reviewed at least 100 in the `Shopping` category?
cursor.execute(q2_2).fetchall()

[(78,)]